.header__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.modal-open {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #262626;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 16px;

  &__icon {
    color: #262626;
  }
}
